<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mushroom Poison Detector</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  <style>
    /* Custom styling for dropdowns */
    .form-control-select {
      border-radius: 0.25rem;
      border: 1px solid #ced4da;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      background-color: #ffffff;
    }
       
    body {
      font-size: 16px; 
    }

    @media (min-width: 768px) {
      body {
        font-size: 18px; 
      }
      h1 {
        font-size: 3rem; 
      }
      .form-control-select {
      font-size: 16px; 
      padding: 0.2rem 0.5rem; 
/* 
      input.form-control {
      font-size: 18px; 
      padding: 0.7rem; 
      } */
    }

    @media (min-width: 576px) {
      body {
        font-size: 25px;
      }

      h1 {
        font-size: 2.5rem; 
      }
      
      .form-control-select {
      font-size: 20px; 
      padding: 0.2rem 0.75rem; 
      }

      /* input.form-control {
      font-size: 25px;
      padding: 0.5rem;
      } */
    }
  </style>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">Mushroom Poison Detector</h1>
        
        <!-- Form to enter new data for predictions -->
        <form action="{{ url_for('mushroom_page')}}" method="POST">
            <!-- cap-shape -->
            <div class="form-group">
                <label for="cap-shape">Cap Shape:</label>
                <select class="form-control form-control-select" id="cap-shape" name="cap-shape">
                    <option value="convex">Convex</option>
                    <option value="bell">Bell</option>
                    <option value="sunken">Sunken</option>
                    <option value="flat">Flat</option>
                    <option value="knobbed">Knobbed</option>
                    <option value="conical">Conical</option>
                </select>
            </div>
            
            <!-- cap-surface -->
            <div class="form-group">
                <label for="cap-surface">Cap Surface:</label>
                <select class="form-control form-control-select" id="cap-surface" name="cap-surface">
                    <option value="smooth">Smooth</option>
                    <option value="scaly">Scaly</option>
                    <option value="fibrous">Fibrous</option>
                    <option value="grooves">Grooves</option>
                </select>
            </div>
            
            <!-- cap-color -->
            <div class="form-group">
                <label for="cap-color">Cap Color:</label>
                <select class="form-control form-control-select" id="cap-color" name="cap-color">
                    <option value="brown">Brown</option>
                    <option value="yellow">Yellow</option>
                    <option value="white">White</option>
                    <option value="gray">Gray</option>
                    <option value="red">Red</option>
                    <option value="pink">Pink</option>
                    <option value="buff">Buff</option>
                    <option value="purple">Purple</option>
                    <option value="cinnamon">Cinnamon</option>
                    <option value="green">Green</option>
                </select>
            </div>

            <!-- bruises -->
            <div class="form-group">
                <label for="bruises">Are there bruises:</label>
                <select class="form-control form-control-select" id="bruises" name="bruises">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
            </div>

            <!-- odor -->
            <div class="form-group">
                <label for="odor">Odor:</label>
                <select class="form-control form-control-select" id="odor" name="odor">
                    <option value="pungent">Pungent</option>
                    <option value="almond">Almond</option>
                    <option value="anise">Anise</option>
                    <option value="none">None</option>
                    <option value="foul">Foul</option>
                    <option value="creosote">Creosote</option>
                    <option value="fishy">Fishy</option>
                    <option value="spicy">Spicy</option>
                    <option value="musty">Musty</option>
                </select>
            </div>

            <!-- gill-attachment -->
            <div class="form-group">
                <label for="gill-attached">Gill Attached:</label>
                <select class="form-control form-control-select" id="gill-attached" name="gill-attached">
                    <option value='1'>Attached</option>
                    <option value='0'>Not Attached</option>
                </select>
            </div>

            <!-- gill-spacing -->
            <div class="form-group">
                <label for="gill-spacing">Gill Spacing:</label>
                <select class="form-control form-control-select" id="gill-spacing" name="gill-spacing">
                    <option value="close">Close</option>
                    <option value="crowded">Crowded</option>
                </select>
            </div>

            <!-- gill-size -->
            <div class="form-group">
                <label for="gill-size">Gill Size:</label>
                <select class="form-control form-control-select" id="gill-size" name="gill-size">
                    <option value="narrow">Narrow</option>
                    <option value="broad">Broad</option>
                </select>
            </div>

            <!-- gill-color -->
            <div class="form-group">
                <label for="gill-color">Gill Color:</label>
                <select class="form-control form-control-select" id="gill-color" name="gill-color">
                    <option value="black">Black</option>
                    <option value="brown">Brown</option>
                    <option value="gray">Gray</option>
                    <option value="pink">Pink</option>
                    <option value="white">White</option>
                    <option value="chocolate">Chocolate</option>
                    <option value="purple">Purple</option>
                    <option value="red">Red</option>
                    <option value="buff">Buff</option>
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                    <option value="orange">Orange</option>
                </select>
            </div>

            <!-- stalk-shape -->
            <div class="form-group">
                <label for="stalk-shape">Stalk Shape:</label>
                <select class="form-control form-control-select" id="stalk-shape" name="stalk-shape">
                    <option value="enlarging">Enlarging</option>
                    <option value="tapering">Tapering</option>
                </select>
            </div>

            <!-- stalk-root -->
            <div class="form-group">
                <label for="stalk-root">Stalk Root:</label>
                <select class="form-control form-control-select" id="stalk-root" name="stalk-root">
                    <option value="equal">Equal</option>
                    <option value="club">Club</option>
                    <option value="bulbous">Bulbous</option>
                    <option value="rooted">Rooted</option>
                </select>
            </div>

            <!-- stalk-surface-above-ring -->
            <div class="form-group">
                <label for="stalk-surface-above-ring">Stalk Surface Above Ring:</label>
                <select class="form-control form-control-select" id="stalk-surface-above-ring" name="stalk-surface-above-ring">
                    <option value="smooth">Smooth</option>
                    <option value="fibrous">Fibrous</option>
                    <option value="silky">Silky</option>
                    <option value="scaly">Scaly</option>
                </select>
            </div>

            <!-- stalk-surface-below-ring -->
            <div class="form-group">
                <label for="stalk-surface-below-ring">Stalk Surface Below Ring:</label>
                <select class="form-control form-control-select" id="stalk-surface-below-ring" name="stalk-surface-below-ring">
                    <option value="smooth">Smooth</option>
                    <option value="fibrous">Fibrous</option>
                    <option value="scaly">Scaly</option>
                    <option value="silky">Silky</option>
                </select>
            </div>

            <!-- stalk-color-above-ring -->
            <div class="form-group">
                <label for="stalk-color-above-ring">Stalk Color Above Ring:</label>
                <select class="form-control form-control-select" id="stalk-color-above-ring" name="stalk-color-above-ring">
                    <option value="white">White</option>
                    <option value="gray">Gray</option>
                    <option value="brown">Brown</option>
                    <option value="yellow">Yellow</option>
                    <option value="orange">Orange</option>
                    <option value="pink">Pink</option>
                    <option value="red">Red</option>
                    <option value="buff">Buff</option>
                    <option value="purple">Purple</option>
                    <option value="green">Green</option>
                    <option value="black">Black</option>
                </select>
            </div>

            <!-- stalk-color-below-ring -->
            <div class="form-group">
                <label for="stalk-color-below-ring">Stalk Color Below Ring:</label>
                <select class="form-control form-control-select" id="stalk-color-below-ring" name="stalk-color-below-ring">
                    <option value="white">White</option>
                    <option value="gray">Gray</option>
                    <option value="brown">Brown</option>
                    <option value="yellow">Yellow</option>
                    <option value="orange">Orange</option>
                    <option value="pink">Pink</option>
                    <option value="red">Red</option>
                    <option value="buff">Buff</option>
                    <option value="purple">Purple</option>
                    <option value="green">Green</option>
                    <option value="black">Black</option>
                </select>
            </div>

            <!-- veil-type -->
            <div class="form-group">
                <label for="veil-type">Veil Type:</label>
                <select class="form-control form-control-select" id="veil-type" name="veil-type">
                    <option value="partial">Partial</option>
                    <option value="universal">Universal</option>
                    <option value="none">None</option>
                </select>
            </div>

            <!-- veil-color -->
            <div class="form-group">
                <label for="veil-color">Veil Color:</label>
                <select class="form-control form-control-select" id="veil-color" name="veil-color">
                    <option value="white">White</option>
                    <option value="brown">Brown</option>
                    <option value="orange">Orange</option>
                    <option value="yellow">Yellow</option>
                </select>
            </div>

            <!-- ring-number -->
            <div class="form-group">
                <label for="ring-number">Ring Number:</label>
                <input type="number" class="form-control" id="ring-number" name="ring-number" min="0" max="2" step="1" required>
            </div>

            <!-- ring-type -->
            <div class="form-group">
                <label for="ring-type">Ring Type:</label>
                <select class="form-control form-control-select" id="ring-type" name="ring-type">
                    <option value="pendant">Pendant</option>
                    <option value="evanescent">Evanescent</option>
                    <option value="large">Large</option>
                    <option value="flaring">Flaring</option>
                    <option value="none">None</option>
                </select>
            </div>

            <!-- spore-print-color -->
            <div class="form-group">
                <label for="spore-print-color">Spore Print Color:</label>
                <select class="form-control form-control-select" id="spore-print-color" name="spore-print-color">
                    <option value="black">Black</option>
                    <option value="brown">Brown</option>
                    <option value="purple">Purple</option>
                    <option value="chocolate">Chocolate</option>
                    <option value="white">White</option>
                    <option value="yellow">Yellow</option>
                    <option value="green">Green</option>
                    <option value="orange">Orange</option>
                    <option value="buff">Buff</option>
                </select>
            </div>

            <!-- population -->
            <div class="form-group">
                <label for="population">Population:</label>
                <select class="form-control form-control-select" id="population" name="population">
                    <option value="scattered">Scattered</option>
                    <option value="numerous">Numerous</option>
                    <option value="abundant">Abundant</option>
                    <option value="solitary">Solitary</option>
                    <option value="clustered">Clustered</option>
                    <option value="several">Several</option>
                </select>
            </div>

            <!-- habitat -->
            <div class="form-group">
                <label for="habitat">Habitat:</label>
                <select class="form-control form-control-select" id="habitat" name="habitat">
                    <option value="woods">Woods</option>
                    <option value="paths">Paths</option>
                    <option value="urban">Urban</option>
                    <option value="grasses">Grasses</option>
                    <option value="meadows">Meadows</option>
                    <option value="waste">Waste</option>
                </select>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Predict Edibility</button>
        </form>

        <br><br>
    </div>
  
   
 </div>
 <!-- Bootstrap Modal for displaying prediction -->
 <div class="modal fade" id="predictionModal" tabindex="-1" role="dialog" aria-labelledby="predictionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="predictionModalLabel">Prediction Result</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            The mushroom you are describing is 
            <b style="color: {{ 'red' if pred == 'poisonous' else 'green' }};">{{ pred }}</b>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9BGEucVf6ZlhT0j8nppw/M+RQRf4bJ6hb0RO" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
  $(document).ready(function(){
    {% if pred %}
    $('#predictionModal').modal('show');
    {% endif %}
  });
</script>

<script>
  nav = document.getElementsByClassName("nav-item");
  nav[0].classList.remove("active");
  nav[1].classList.remove("active");
  nav[2].classList.add("active");
  nav[3].classList.remove("active");
</script>

</body>



</html>